<!DOCTYPE html> <!-- Your comment goes here -->
<html lang="en">
  <head>
    <title>One-click Burgers</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <section>
	<h1>Welcome to One-click Burgers!</h1>
	<br />
      </section>
      <section>
	<h3>Select burgers</h3>
	<p>This is where you get to choose you'r bliss!.</p>
	<br />
	<h3>Customer information</h3>
	<p>This is where you tell us all we need to know to make you'r day burger-tastic!</p>
      </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
