body {
    font-family:"Courier New", monospace;
    font-size: 14pt;
}

.allergy {
    font-weight: bold;
}

#burgerInfo {
    color: white;
    background-color: black;
}

#customerInfo {}

button:hover {
    color: green;
    cursor: pointer;
}
