body {
    font-family:"Courier New", monospace;
    font-size: 14pt;
}

.allergy {
    font-weight: bold;
}

section {
    margin:30px;
    padding: 15px;
}

.checkboxDiv {
    text-align:center;
    margin:auto;
}

#burgerInfo {
    color: white;
    background-color: black;
    border: 3px dashed white;
}

#customerInfo {
    border: 3px dashed black; 
}

button:hover {
    color: green;
    cursor: pointer;
}

#submitbutton {
    margin-bottom: 100px;
}

#t1 {
    width: 100%;
}

#t1 td {
    text-align: center;
}

#headerId {
    position:absolute;
    padding: 80px 0px 0px 300px;
}

#bannerId {
    height: 250px;
    margin: 30px;
    overflow: hidden;
}

#headerPic {
    width: 100%;
    height: 250px;
    opacity: 0.25;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 300px 300px 300px;
    background-color: black;
    color: black;
}

.box {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
}


.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
