body {
    font-family:"Courier New", monospace;
    font-size: 14pt;
}

.allergy {
    font-weight: bold;
}

section {
    margin:30px;
    padding: 15px;
}

#burgerInfo {
    color: white;
    background-color: black;
    border: 3px dashed white;
}

#customerInfo {
    border: 3px dashed black; 
}

button:hover {
    color: green;
    cursor: pointer;
}

#submitbutton {
    margin-bottom: 100px;
}

#t1 {
    width: 100%;
}

#t1 td {
    text-align: center;
}

#headerId {
    margin:30px;
}

#headerPic {
    height: 250px;
    width: 100%;
    opacity: 0.8;
}
